.feature-catering{
  margin: 7rem 1rem;
  font-size: 1.5em;
  font-family: 'Montserrat';
}

.feature-wrapper{
  text-align: center;
}
.feature-wrapper h1{
  font-size: 2em;
  margin-bottom: 0.5em;
  font-family: 'Jost';
}


.feature-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat';
  font-size: 1em;
  margin-top: 1em;
}

.feature-label{
  margin: 0.4em;
}

textarea {
  width: 50%;
  height: 6em;
  resize: none;
  font-family: 'Montserrat';
  padding: 0.5em;
}

input {
  padding: 0.5em;
  width: 50%;
  height: 3em;
  resize: none;
  font-family: 'Montserrat';
}

@media only screen and (max-width:1047px){
    textarea {
    width: 70%;
  }
  input {
  width: 70%;
}
}

@media (max-width: 768px) {
  textarea {
    width: 90%;
  }
  input {
  width: 90%;
}
}