:root {
  --main-black: #2c2c2c;
  --transparent-button-color: #f5f4f4;
  --styled-font: Jost;
  --functional-font: Montserrat;
  --mobile-break-point: 768px;
}

@mixin flexCenter($direction) {
  justify-content: center;
  display: flex;
  flex-direction: $direction;
}

.nav-bar-container {
  display: flex;
  justify-content: space-evenly;
  background-color: transparent;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  padding: 1rem;
  align-items: baseline;
  flex-direction: row;
   @media (max-width:768px) {
        justify-content: space-between;
    }
  

  .logo-text {
    font-family: "Jost";
    height: fit-content;
    width: fit-content;
    font-size: 2rem;
    @media (max-width:768px) {
        font-size: 40px;
    }
  }

  .nav-bar-right {
    
    width: 33vw;
    align-items: center;
    align-items: center;
    display: flex;
    justify-content: flex-end;
  }
  .nav-links-container{
  display: flex;
  justify-content: space-evenly;
  width: 33vw;
  font-family: "Montserrat";
  font-size: 1.2rem;
  padding-bottom: 2px;
  font-weight: 100;
  @media (max-width:768px) {
        display: none;
    }

    
}

.nav-links{
  display: flex;
  justify-self: center;
  margin-right: 1rem;
  width: max-content;
  white-space: nowrap;
  width: fit-content;
  letter-spacing: .02rem;
  cursor: pointer;
  transition: all .35s;

 
}
.nav-bar-left{
  width: 33vw;
  @media (max-width:768px) {
        width: max-content;
    }
}
}
 .nav-links:hover{
    transform: translateY(-2px);
  }

.menu-bars {
  display: none;
  @media screen and (max-width: 768px) {
    display: block;
    height: 40px;
    width: 40px;
    cursor: pointer;
    color: #fff;
    @include flexCenter(column);
    align-self: flex-end;
  
}

  
}


.contact-us{
      @media (max-width:768px) {
        display: none;
      }
    }

.session{
  @media (max-width:768px) {
    display: none;
  }
    }