:root {
  --main-black: #2c2c2c;
  --transparent-button-color: #f5f4f4;
  --styled-font: Jost;
  --functional-font: Montserrat;
  --mobile-break-point: 768px;
}
*{
  outline: none !important;
}

.nav-bar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
      -ms-flex-pack: space-between;
          justify-content: space-between;
  background-color: #2c2c2c;
  color:#f5f4f4;
  /* color: #000000; */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  padding: 1rem;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.action-button .session{
  color: #2c2c2c;
  background-color: #f5f4f4;
}

@media (max-width: 768px) {
  .nav-bar-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.nav-bar-container .logo-text {
  font-family: "Jost";
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 2rem;
}

@media (max-width: 768px) {
  .nav-bar-container .logo-text {
    font-size: 40px;
  }
}

.nav-bar-container .nav-bar-right {
  /* background-color: red; */
  /* width: 20vw; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: space-between;
}

.nav-bar-container .nav-links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  /* width: 33vw; */
  font-family: "Montserrat";
  font-size: 1.2rem;
  padding-bottom: 2px;
  font-weight: 100;
}


@media (max-width: 768px) {
  .nav-bar-container .nav-links-container {
    display: none;
  }
  .nav-bar-container button{
    display: none;
  }
}

.nav-bar-container .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  margin-right: 4rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  white-space: nowrap;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  letter-spacing: .02rem;
  cursor: pointer;
  -webkit-transition: all .35s;
  transition: all .35s;
}

@media (max-width: 1200px) {
  .nav-bar-container .nav-links{
    margin-right: 2rem;
  }
}
a:-webkit-any-link {
  text-decoration: none;
  color: #f5f4f4;
}

@media (max-width: 768px) {
  .nav-bar-container .nav-bar-left {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}

@media (max-width: 768px) {
  .nav-bar-container .logo-text {
    font-size: 35px;
  }
}

.nav-links:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.menu-bars {
  display: none;
}

@media screen and (max-width: 768px) {
  .menu-bars {
    display: block;
    height: 40px;
    width: 40px;
    cursor: pointer;
    color: #fff;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

@media (max-width: 768px) {
  .contact-us {
    display: none;
  }
  .session {
    display: none;
  }
}
/*# sourceMappingURL=NavBar.css.map */